.card-task {
  border: solid;
  border-color: rgb(190, 189, 189);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 4px 8px;
}
